.HomePageDesktop {
	position: relative;
	background: #070708;
	flex-direction: column;
	display: flex;
	width: 100vw; /* 100% ширини вікна */
    min-height: 100vh; /* 100% висоти вікна */
    margin: 0; /* Видаляємо зовнішні відступи */
    padding: 0; /* Видаляємо внутрішні відступи */
}

.Header {
	height: 100px;
	padding: 0 125px;
	left: 0px;
	top: 0px;
	border-bottom: 1px #1C1C21 solid;
	display: flex;
}
    
.Navbar {
	padding-left: 40px;
	padding-right: 40px; 
	padding-top: 30px; 
	border-left: 1px #1C1C21 solid; 
	border-right: 1px #1C1C21 solid;
	flex-grow: 1;
	display: inline-flex;
	justify-content: space-between;
}  

.NavbarButtonsContainer {
	border-top-left-radius: 12px; 
	border-top-right-radius: 12px; 
	overflow: hidden; 
	border-left: 1px #1C1C21 solid; 
	border-top: 1px #1C1C21 solid; 
	border-right: 1px #1C1C21 solid; 
	justify-content: flex-start; 
	align-items: center; 
	display: flex;
}

.NavbarButton {
	padding-left: 50px; 
	padding-right: 50px; 
	padding-top: 30px; 
	padding-bottom: 30px; 
	border: 1px #1C1C21 solid; 
	justify-content: flex-start; 
	align-items: center; 
	gap: 10px; 
	display: flex;
	cursor: pointer;
	transition: all 0.3s;
	color: #AFB0B6; 
}

.NavbarButton.active {
    background: #131316; /* Активний фон */
    color: white;        /* Активний текст */
 }
  
  /* Ховер-ефект для неактивних кнопок */
.NavbarButton:not(.active):hover {
    background: #131316;
    color: white;
}

.Text {
	font-size: 18px; 
	font-family: Manrope; 
	font-weight: 500; 
	line-height: 27px; 
	word-wrap: break-word
}

.Button {
	margin-bottom: 20px;
	padding-left: 24px; 
	padding-right: 24px; 
	padding-top: 16px; 
	padding-bottom: 16px; 
	background: #1C1C21; 
	border-radius: 10px; 
	overflow: hidden; 
	border: 1px #2F2F37 solid; 
	justify-content: flex-start; 
	align-items: center; 
	gap: 10px; 
	display: flex;
	color: white;
	cursor: pointer; /* Додаємо курсор-указівник */
    transition: background 0.3s; /* Плавна анімація */
}

.Button:hover {
    background: #ff6347;
}
 
.Container {
	left: 162px;
	position: relative; 
	flex-direction: column; 
	justify-content: flex-start; 
	align-items: flex-start; 
	gap: 80px;
	display: inline-flex
}

.SubContainer {
	align-self: stretch; 
	padding-bottom: 50px; 
	border-bottom: 1px #1C1C21 solid; 
	justify-content: flex-start; 
	align-items: center; 
	gap: 20px; 
	display: inline-flex
}

.TextContainer {
	flex: 1 1 0; 
	flex-direction: column; 
	justify-content: flex-start; 
	align-items: flex-start; 
	gap: 4px; 
	display: inline-flex
}

.TextTopic {
	align-self: stretch; 
	color: #797C86; 
	font-size: 20px; 
	font-family: Manrope; 
	font-weight: 600; 
	text-transform: uppercase; 
	word-wrap: break-word
}

.Heading {
	color: white; 
	font-size: 58px; 
	font-family: Manrope; 
	font-weight: 600; 
	text-transform: uppercase; 
	word-wrap: break-word
}

.TopContainer {
	flex-direction: column; 
	justify-content: flex-start; 
	align-items: flex-start; 
	display: inline-flex;
	position: relative;
}

.TopSubContainer {
	align-self: stretch;
	padding-left: 8%;
	padding-right: 8%;
	padding-top: 80px; 
	padding-bottom: 20px; 
	border-top: 1px #1C1C21 solid; 
	border-bottom: 1px #1C1C21 solid; 
	justify-content: space-between; 
	align-items: center; 
	display: inline-flex;
	position: relative;
}

.TopSubTextContainerLeftText {
	flex-direction: column; 
	justify-content: center; 
	align-items: flex-start; 
	gap: 10px; 
	display: inline-flex;					
}

.TopHeader {
	color: #62646C; 
	font-size: 22px; 
	font-family: Manrope; 
	font-weight: 500; 
	text-transform: uppercase; 
	word-wrap: break-word;
	z-index: 1;
}

.FullNameText {
	color: #E4E4E6; 
	font-size: 80px; 
	font-family: Manrope; 
	font-weight: 600; 
	text-transform: uppercase; 
	word-wrap: break-word;
	z-index: 1;
}

.AbstractDesign {
	position: absolute; /* Абсолютне позиціонування */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%; /* Займає всю висоту батьківського контейнера */
    width: 100%; /* Займає всю ширину батьківського контейнера */
    display: flex;
    align-items: flex-start; /* Вирівнює по вертикалі по центру */
    justify-content: center; /* Вирівнює по горизонталі по центру */
    z-index: 0; /* Поміщає елемент під інші елементи */
	pointer-events: none;
}

.AbstractDesign svg {
    max-height: 100%;
    width: auto;
}

.LetsButton {
    cursor: pointer; /* Змінює курсор на указівник */
    transition: fill 0.3s; /* Плавна анімація зміни кольору */
}

.LetsButton:hover rect {
    fill: #FF6347; /* Колір при наведенні */
}

.TopContainerRight {
	flex-direction: column; 
	justify-content: flex-start; 
	align-items: flex-start; 
	gap: 10px; 
	display: inline-flex;
	z-index: 1;	
}

.TopSubTextContainerRightText {
	justify-content: flex-start; 
	align-items: center; 
	gap: 10px; 
	display: inline-flex
}

.SkillsContainer {
	display: flex; /* Використовуємо flex для горизонтального розташування */
    flex-direction: row; /* Елементи в рядок */
    white-space: nowrap; /* Забороняє перенесення на новий рядок */
    width: 100%; /* Займає всю ширину батьківського контейнера */
}

.SkillContainer {
	align-self: stretch; 
	padding: 20px; 
	background: #0E0E10; 
	border-top: 1px #1C1C21 solid; 
	border-bottom: 1px #1C1C21 solid; 
	justify-content: flex-start; 
	align-items: flex-start; 
	gap: 20px; 
	display: inline-flex;
}

.Skill {
	justify-content: flex-start; 
	align-items: center; 
	gap: 10px; 
	display: flex;
}

.SkillText {
	color: #D6D0FB; 
	font-size: 18px; 
	font-family: Manrope; 
	font-weight: 400; 
	text-transform: uppercase; 
	line-height: 27px; 
	word-wrap: break-word;		
}